* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: rgb(119, 217, 255);
}

iframe {
    overflow-y: hidden;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}

.container {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
}

.page {
    float: left;
    width: 100vw;
    height: 100vh;
    position: static;
}

#home {
    -webkit-filter: blur(1.8px);
    filter: blur(2.9px);
    overflow: hidden;
    background-color: rgba(0, 22, 66, 0.116);
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: right;
}


/*
#home::after {
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(90, 0, 21, 0.233)), to(rgba(0, 21, 80, 0.342)));
    background: linear-gradient(to bottom right, rgba(90, 0, 21, 0.233), rgba(0, 21, 80, 0.342));
    
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
}*/

.logo {
    z-index: 3;
    background-image: url('../images/w_logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 15em;
    top: calc(50% - 150px);
    text-align: center;
    color: rgba(255, 255, 253, 1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    position: fixed;
    height: 1.5em;
    width: 100%;
}

.nav {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 102;
}

.social-media {
    float: left;
}

.icon {
    opacity: 0.5;
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px 20px 0 20px;
    border-radius: 50%;
}

#ig {
    background-image: url('../images/ig.svg');
    background-color: rgba(215, 96, 255, 0.3);
}

#ig:hover {
    opacity: 1;
}

#fb {
    background-image: url('../images/fb.svg');
    background-color: rgba(59, 89, 152, 0.9);
}

#fb:hover {
    opacity: 1;
}

#email {
    background-image: url('../images/email.svg');
    background-color: rgba(219, 50, 54, 0.9);
}

#email:hover {
    opacity: 1;
}

.links-container {
    position: relative;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    width: 100%;
    line-height: 2;
}

.logo-mini {
    top: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.301);
    position: relative;
    background-image: url('../images/w_logo.png');
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.link {
    position: relative;
    display: inline-block;
    opacity: 1;
    border: 0 solid;
    font-size: 1.5em;
    margin: 0 30px 0 0;
    color: rgba(255, 255, 255, 1);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.lg-screen-links {
    display: inline-block;
}

.sm-screen-links {
    display: none;
}

.link:hover {
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

@-webkit-keyframes hover {
    0% {
        opacity: 1;
        color: rgb(255, 255, 255);
    }
    100% {
        opacity: 1;
        color: rgb(0, 183, 255);
    }
}

@keyframes hover {
    0% {
        opacity: 1;
        color: rgb(255, 255, 255);
    }
    100% {
        opacity: 1;
        color: rgb(0, 183, 255);
    }
}

#photo {
    background-color: aqua;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    height: 200vh;
}

#lightgallery {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#lightgallery img {
    opacity: 0;
    float: left;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100vh;
    width: 25vw;
}

#portfolio {
    font-size: 1.6em;
    margin: 0;
}

#me {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.about-me {
    color: aliceblue;
    position: relative;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 25vh auto 250px auto;
    width: 90%;
    max-width: 800px;
    line-height: 1.9;
    display: block;
    font-size: 2.0em;
}

.about-me h1 {
    opacity: 0;
    text-align: center;
    z-index: 99;
    position: absolute;
    top: -90px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bolder;
    width: 250px;
    height: 120px;
}

.about-me>p {
    opacity: 0;
    position: relative;
    right: -30vw;
    padding: 0 10% 10% 10%;
    font-size: .68em;
    background-color: rgba(0, 0, 0, 0.815);
}

.me-blur {
    display: none;
    background-image: url('../images/mebg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    position: absolute;
    background-color: rgba(160, 192, 214, 0.2);
    width: 100vw;
    height: 000vh;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    top: 0;
}

#player {
    -o-object-fit: fill;
    object-fit: fill;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#map-page {
    background-position: right;
    background-image: url('../images/mebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#map {
    -webkit-transition: all 0.9s ease-in-out 0.0s;
    transition: all 0.9s ease-in-out 0.0s;
    opacity: 0.60;
    margin: auto;
    position: relative;
    height: 70vh;
    width: 85vw;
    top: 15vh;
}

#map:hover {
    opacity: 1;
}

@media screen and (max-width: 1000px) and (min-width: 0px) {
    /*small screen*/
    .about-me {
        line-height: 1em;
        font-size: 2.7em;
    }
    .about-me>p {
        margin-top: 160px;
        line-height: 1.5;
        font-size: 0.5em;
    }
    .about-me h1 {
        top: -50px;
        font-size: 1.5em;
    }
    .links-container {
        text-align: right;
        background-color: rgba(0, 0, 0, 0.925);
        display: block;
        width: 100%;
    }
    .lg-screen-links {
        display: none;
    }
    .sm-screen-links {
        display: inline-block;
    }
    .link {
        position: relative;
        display: inline-block;
        opacity: 1;
        border: 0 solid;
        margin: 0 20px;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
    }
    .material-icons.md-36 {
        font-size: 25px;
        font-weight: light;
    }
}
