* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: rgb(119, 217, 255);
}

iframe {
    overflow-y: hidden;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}

.container {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
}

.page {
    float: left;
    width: 100vw;
    height: 100vh;
    position: static;
}

#home {
    -webkit-filter: blur(1.8px);
    filter: blur(2.9px);
    overflow: hidden;
    background-color: rgba(56, 82, 128, 0.35);
    background-blend-mode: color-burn;
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: right;
}

#home::after {
    /* background: -webkit-gradient(linear, left top, right bottom, from(rgba(90, 0, 21, 0.233)), to(rgba(0, 21, 80, 0.342)));
    background: linear-gradient(to bottom right, rgba(90, 0, 21, 0.233), rgba(0, 21, 80, 0.342));
    */
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
}

.logo {
    z-index: 100;
    background-image: url('../images/w_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 15em;
    top: calc(50% - 150px);
    text-align: center;
    color: rgba(255, 255, 253, 1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    position: fixed;
    height: 1.5em;
    width: 100%;
}

.nav {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 102;
}

.social-media {
    float: left;
}

.icon {
    top: 12px;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    margin: auto 20px;
    border-radius: 10%;
}

#ig {
    background-image: url('../images/ig.svg');
}

#fb {
    background-image: url('../images/fb.svg');
}

#email {
    background-image: url('../images/email.svg');
}

.links-container {
    text-align: right;
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    width: 100%;
    line-height: 2;
}

.link {
    opacity: 1;
    border: 0 solid;
    font-size: 1.5em;
    margin: 0 30px 0 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.lg-screen-links {
    display: inline-block;
}

.sm-screen-links {
    display: none;
}

.link:hover {
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

@-webkit-keyframes hover {
    0% {
        opacity: 1;
        color: rgb(255, 255, 255);
    }
    100% {
        opacity: 1;
        color: rgb(0, 183, 255);
    }
}

@keyframes hover {
    0% {
        opacity: 1;
        color: rgb(255, 255, 255);
    }
    100% {
        opacity: 1;
        color: rgb(0, 183, 255);
    }
}

#photo {
    background-color: aqua;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    height: 200vh;
}

#lightgallery {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#lightgallery img {
    opacity: 0;
    float: left;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100vh;
    width: 25vw;
}

#portfolio {
    font-size: 1.6em;
    margin: 0;
}

#me {
    position: relative;
    height: 200vh;
    background-color: #000000;
    background-blend-mode: overlay;
}

.about-me {
    color: aliceblue;
    position: relative;
    margin: 25vh auto 5px auto;
    width: 80%;
    max-width: 750px;
    line-height: 1.9;
    display: block;
    font-size: 2.0em;
}

.about-me h1 {
    opacity: 0;
    text-align: center;
    z-index: 99;
    position: absolute;
    top: -80px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bolder;
    width: 250px;
    height: 120px;
}

.about-me>p {
    position: relative;
    right: -100vw;
    padding: 5% 10% 10% 10%;
    font-size: .6em;
    background-color: #000000d2;
}

.me-blur {
    background-image: url('../images/me2.jpg');
    background-size: cover;
    background-position: center -300px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    position: absolute;
    background-color: rgba(0, 5, 8, 0.301);
    width: 100vw;
    height: 200vh;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    top: 0;
}

.player {
    position: relative;
    top: 0;
    background-color: rgba(71, 0, 0, 0.897);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#player {
    position: relative;
    top: 0;
    background-color: rgba(71, 0, 0, 0.897);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#map {
    position: relative;
    height: 50vh;
    width: 85vw;
    margin: 100px auto 0 auto;
}

@media screen and (max-width: 1300px) and (min-width: 0px) {
    /*small screen*/
    .about-me {
        margin: 25vh auto 5px 10%;
        width: 80%;
        max-width: 750px;
        line-height: 1.0;
        display: block;
        font-size: 2.7em;
    }
    .about-me>p {
        padding: 5% 10% 10% 10%;
        line-height: 1.8;
        font-size: 0.45em;
    }
    .about-me h1 {
        font-size: 1.5em;
    }
    .links-container {
        text-align: right;
        background-color: rgba(0, 0, 0, 0.925);
        display: block;
        width: 100%;
    }
    .lg-screen-links {
        display: none;
    }
    .sm-screen-links {
        display: inline-block;
    }
    .link {
        display: inline-block;
        opacity: 1;
        border: 0 solid;
        margin: 0 20px;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
    }
    .material-icons.md-36 {
        margin: 12px auto;
        font-size: 25px;
        font-weight: light;
    }
}
